Source: corenode
Section: contrib
Priority: extra
Maintainer: Marta Nabozny <marta.nabozny@cloudover.io>
Build-Depends: debhelper (>= 8.0.0), dh-systemd
Standards-Version: 3.9.4
Homepage: http://cloudover.org/

Package: corenode
Architecture: all
Depends: corenetwork, libvirt-bin | libvirt-libvirt-daemon-system, libvirt-bin | libvirt-clients, nginx, nginx-extras, openssh-server, sudo, python-libvirt, python, qemu-kvm, kvm, quagga, python-requests, nfs-common, qemu-system
Suggests: tcpdump, ipython, traceroute
Conflicts: overcluster-node
Description: Node configuration package
 This package contains node scripts for CoreCluster cloud

