Source: corenode
Section: contrib
Priority: extra
Maintainer: Marta Nabozny <martastrzet@gmail.com>
Build-Depends: debhelper (>= 8.0.0), dh-systemd
Standards-Version: 3.9.4
Homepage: http://cloudover.org/overcluster/

Package: corenode
Architecture: all
Depends: corenetwork, libvirt-bin, nginx, nginx-extras, openssh-server, sudo, python-libvirt, python, qemu-kvm, kvm, quagga, python-requests, nfs-common, qemu-system
Suggests: tcpdump, ipython, traceroute
Conflicts: overcluster-node
Description: Node configuration package
 This package contains networking scripts to run CoreCluster cloud on
 compute nodes.

